#approach
  background url("../img/approach-bg.jpg") no-repeat
  background-size cover
  padding 65px 0
  @media screen and (min-width 319px) and (max-width 480px)
    padding 30px 0
  .approach-director
    background-color rgba(0, 0, 0, .63)
    padding 27px 12px
    margin-bottom 30px
    transition background-color .5s
    &:hover
      background-color rgba(0, 0, 0, .73)
    .approach-d-ava
      margin-bottom 13px
      @media screen and (min-width 319px) and (max-width 480px)
        margin 13px auto
        display block
        width 100%
    span.approach-d-caption
      display inline-block
      color #c6946f
      font 400 14px/18px $main-font-family
    .approach-d-header
      color #ffffff
      font 700 16px $main-font-family
      margin-bottom 22px
    .approach-d-desc
      color #ffffff
      font 300 16px $main-font-family
      &:first-child
        margin-bottom 23px
  .approach-item
    border-top 2px solid #c6946f
    padding-top 21px
    transition background-color .5s, padding .5s
    .approach-i-header
      color #ffffff
      font 700 18px $main-font-family
      margin-bottom 20px
    .approach-i-desc
      color #ffffff
      font 400 14px $main-font-family
    &:hover
      background-color rgba(0, 0, 0, .73)
      border-left 4px solid #c6946f
      padding 21px
