#carried-out
  padding 60px 0
  background url("../img/carried-out.jpg") no-repeat
  background-size cover
  @media screen and (min-width 319px) and (max-width 480px)
    padding 30px 0
  .carried-header
    font 700 57px $main-font-family
    color #3a3531
    line-height 56px
    @media screen and (min-width 319px) and (max-width 480px)
      font-size 32px
      text-align center
      line-height 1.2
    @media screen and (min-width 480px) and (max-width 768px)
      font-size 52px
      line-height 1.2
  .carried-s-header
    color #696969
    font 600 30px/34px $main-font-family
    margin-top 15px
    padding-right 150px
    @media screen and (min-width 319px) and (max-width 480px)
      text-align center
      margin-top 0
      font-size 20px
      line-height 1.2
    @media screen and (max-width: 768px)
      padding-right 0
      margin-bottom 25px

#carried-out, #specialists
  .carried-avatar, .spec-avatar
    width 100%
    height auto
    padding-bottom 10px
    margin-bottom 20px
    border-bottom 1px solid #c6946f
  span
    color #272727
    font 400 12px $main-font-family
    padding-right 15px
    &.carried-d, &.spec-d
      font-weight 700
      padding-right 0
