#cooperation
  padding 65px 0
  @media screen and (min-width 319px) and (max-width 480px)
    padding 30px 0
  .coop-item
    padding 23px
    text-align center
    height 100%
    .row
      height 100%
    .coop-header
      color #ffffff
      font 700 16px $main-font-family
    .coop-desc
      color #ffffff
      font 400 13px $main-font-family
    &.yellow
      background-color #e29c20
    &.darkblue
      background-color #34495e
    &.turquoise
      background-color #16a086
    &.blue
      background-color #297fb8