#meet-order, #meet-order-b
  background url("../img/meet-order.jpg") no-repeat
  background-size cover
  padding 70px 0
  @media screen and (min-width 319px) and (max-width 480px)
    padding 30px 0
  .meet-order-left
    background rgba(0, 0, 0, .7)
    padding 65px
    @media screen and (min-width 319px) and (max-width 480px)
      padding 20px
  .meet-order-right
    background-color rgba(22, 21, 20, 1)
    padding 80px 70px 80px 70px
    @media screen and (min-width 319px) and (max-width 480px)
      padding 20px
    #valid-msg
      color #ffffff
    #error-msg
      color #ffffff
    input
      display inline-block
      max-width 213px
      color #ffffff
      background transparent
      padding 13px 13px 13px 40px
      outline 0
      border 0
      border-bottom 1px solid #c6946f
      box-shadow: none
      text-align center
      &::-webkit-input-placeholder
        font 400 18px $main-font-family
        text-transform uppercase
        color #FFFFFF
      &::-moz-placeholder
        font 400 18px $main-font-family
        text-transform uppercase
        color #FFFFFF
      &:-moz-placeholder
        font 400 18px $main-font-family
        text-transform uppercase
        color #FFFFFF
      &:-ms-input-placeholder
        font 400 18px $main-font-family
        text-transform uppercase
        color #FFFFFF
      &:focus
        outline 0
        border 1px solid #c6946f
        box-shadow: none

#meet-order-b
  background url("../img/meet-order-b.jpg") no-repeat
  background-size cover